.heading {

    background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center; 
  margin-left:"33%"
}